.slide-position {
  position: relative;
}

.text-container {
  position: absolute;
  top: 120px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  line-height: 32px;
  font-weight: 500;
}

.text-row {
  font-size: 18px;
  display: flex;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.music-position {
  position: absolute;
  top: 80px;
  right: 20px;
}

.music-img {
  animation: loop 2s linear infinite;
}

@keyframes loop {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* 
.top-element-position {
  position: absolute;
  top: 80px;
}

.cloud-img {
  animation: 3s linear 1s infinite alternate slideIn;
}

@keyframes slideIn {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 100%;
  }
} */
