@font-face {
  font-family: "Robot";
  src: url("../static/font/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ZCOOL KuaiLe";
  src: url("../static/font/ZCOOLKuaiLe-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ZCOOL QingKe HuangYou";
  src: url("../static/font/zcool-qingke-huangyou.ttf") format("truetype");
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: fill;
}

.swiper-slide img {
  display: block;
}

.slide-img-position {
  opacity: 0;
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.element-img {
  position: "absolute";
  opacity: 0;
  animation: fadeImgIn 2s ease-in-out forwards;
}

.slide-icon {
  position: "absolute";
  opacity: 0;
  animation: fadeImgIn 1s ease-in-out forwards;
}

@keyframes fadeImgIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  font-weight: 500;
}

.text-row {
  display: flex;
  font-style: normal;
}

.text-span {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(-30%);
  }
}

.page-animation-left {
  animation: fadeInLeft 1s ease-in-out forwards;
}

@keyframes fadeInLeft {
  from {
    transform: translateX(-30%);
  }
  to {
    transform: translateX(0);
  }
}

.page-animation-right {
  animation: fadeInRight 1s ease-in-out forwards;
}

@keyframes fadeInRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-30%);
  }
}

.music-img {
  animation: loop 2s linear infinite;
}

@keyframes loop {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

